In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
buy=pd.read_csv("D:\\BuyerRatio.csv")

In [3]:
buy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [4]:
buy.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
buy.mean()

C:\Users\swami\AppData\Local\Temp/ipykernel_12496/1808658994.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buy.mean()

East     242.5
West     832.5
North    743.5
South    410.0
dtype: float64

In [6]:
buy.std()

C:\Users\swami\AppData\Local\Temp/ipykernel_12496/1101623867.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buy.std()

East     272.236111
West     976.514465
North    866.205807
South    480.832611
dtype: float64

In [8]:
buy.var()

C:\Users\swami\AppData\Local\Temp/ipykernel_12496/4006032921.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buy.var()

East      74112.5
West     953580.5
North    750312.5
South    231200.0
dtype: float64

In [9]:
# ho=Proportions of Male and Female are same
# h1=Proportions of Male and Female are not same

In [11]:
buy.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [15]:
"alpha=0.05\nMale = [50,142,131,70]\nFemale=[435,1523,1356,750]\nSales=[Male,Female]\nprint(Sales)",

('alpha=0.05\nMale = [50,142,131,70]\nFemale=[435,1523,1356,750]\nSales=[Male,Female]\nprint(Sales)',)

In [16]:
"chiStats = sp.stats.chi2_contingency(Sales)\nprint('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))\nprint('Interpret by p-Value')\nif chiStats[1] < 0.05:\n  print('we reject null hypothesis')\nelse:\n  print('we accept null hypothesis')",

("chiStats = sp.stats.chi2_contingency(Sales)\nprint('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))\nprint('Interpret by p-Value')\nif chiStats[1] < 0.05:\n  print('we reject null hypothesis')\nelse:\n  print('we accept null hypothesis')",)

In [17]:
"#critical value = 0.1\nalpha = 0.05\ncritical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])# Find the critical value for 95% confidence*\n                      #degree of freedom\n\nobserved_chi_val = chiStats[0]\n#if observed chi-square < critical chi-square, then variables are not related\n#if observed chi-square > critical chi-square, then variables are not independent (and hence may be related).\nprint('Interpret by critical value')\nif observed_chi_val <= critical_value:\n    # observed value is not in critical area therefore we accept null hypothesis\n    print ('Null hypothesis cannot be rejected (variables are not related)')\nelse:\n    # observed value is in critical area therefore we reject null hypothesis\n    print ('Null hypothesis cannot be excepted (variables are not independent)')",

("#critical value = 0.1\nalpha = 0.05\ncritical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])# Find the critical value for 95% confidence*\n                      #degree of freedom\n\nobserved_chi_val = chiStats[0]\n#if observed chi-square < critical chi-square, then variables are not related\n#if observed chi-square > critical chi-square, then variables are not independent (and hence may be related).\nprint('Interpret by critical value')\nif observed_chi_val <= critical_value:\n    # observed value is not in critical area therefore we accept null hypothesis\n    print ('Null hypothesis cannot be rejected (variables are not related)')\nelse:\n    # observed value is in critical area therefore we reject null hypothesis\n    print ('Null hypothesis cannot be excepted (variables are not independent)')",)

In [18]:
"Inference : proportion of male and female across regions is same"

'Inference : proportion of male and female across regions is same'